<div class="box">
  <div class="box-header">
    <div class="row">
      <form action="/expense" method="post" id="expenseTrackerForm">
        <div class="col-md-2">
          <div class="form-group">
            <label for="date">Date</label>
            <input type="date" class="form-control input-sm" name="date" id="date">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="description">Description</label>
            <input class="form-control input-sm" type="text" name="description" id="description">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="transaction">Transaction</label>
            <select name="transaction" id="transaction" class="form-control input-sm">
            <option value="credit">Credit</option>
            <option value="debit">Debit</option>
          </select>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="amount">Amount</label>
            <input class="form-control input-sm" type="text" name="amount" id="amount">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">

            <input type="submit" class="btn btn-primary btn-sm mt-5" value="Submit">
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table id="example1" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Credit</th>
          <th>Debit</th>
          <th>Balance</th>
        </tr>
      </thead>
      <tbody id="expenceTrackerTableBody">

      </tbody>
      <tfoot>
        <tr>
          <th>Date</th>
          <th>Description</th>
          <th>Credit</th>
          <th>Debit</th>
          <th>Balance</th>
        </tr>
      </tfoot>
    </table>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
<link rel="stylesheet" href="/plugins/datatables/dataTables.css">
<script src="/plugins/datatables/jQuery.dataTables.min.js"></script>
<script src="/plugins/datatables/dataTables.min.js"></script>
<script>
  $(function() {
    // $("#example1").DataTable();
    $('#example1').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": false,
      "ordering": false,
      "info": false,
      "autoWidth": true
    });
  });

  $("#expenseTrackerForm").on('submit', (e) => {

    e.preventDefault()
    let formData = new FormData(e.target)
    let data = {
      date: formData.get('date'),
      description: formData.get('description'),
      transaction: formData.get('transaction'),
      amount: formData.get('amount')
    }
    DoAjax(
      data, e.target.action, (result) => {
        alert(result)
      })
  })
</script>